@tailwind base;
@tailwind components;
@tailwind utilities;


:root, #docs-root, #root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;

}

/* Container */
.squeezetainer {
  padding-inline: 5vw;
  
}


@media (min-width: theme("screens.lg")) {
  .squeezetainer {
    padding-inline: 10vw;
  }
}



/* Button */
.btn-primary {
  padding-inline: 1.25rem;
  padding-block: 0.625rem;
  border-radius: 9999px;
  text-align: center;
}

.btn-primary:hover {
  opacity: 0.8;
}


/* Menu Button */
.hamburger-button .hamburger {
  transition: translate .7s, rotate .7s;
}

.hamburger-button .hamburger-close {
  translate: 3px -3px;
  rotate: 0.125turn;
}

.hamburger-button .line {
  transition: .7s;
  stroke-dasharray: 60 31 60 300;
}

.hamburger-button .line-close {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}